.container {
  display: flex;
}

@media screen and (max-width: 767px) {
  .buttonTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 53px;
    text-decoration: none;
    background-color: var(--secondary-bcg-color);
    color: var(--black-color);
  }

  .buttonActiveTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 53px;
    text-decoration: none;
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}

@media screen and (min-width: 768px) {
  .buttonTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 40px;
    text-decoration: none;
    background-color: var(--secondary-bcg-color);
    color: var(--black-color);
    border-radius: 20px 20px 0 0;
  }

  .buttonActiveTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 40px;
    text-decoration: none;
    background-color: #fefefe;
    color: var(--accent-color);
    border-radius: 20px 20px 0 0;
  }
}
