.container {
  position: relative;
  z-index: 10;
  justify-content: center;
}

.notification {
  display: flex;
  margin: 25px 0 0 0;
  padding: 30px 25px;
  flex-direction: column;
  position: absolute;
  max-width: 282px;
  max-height: 152px;
  top: 50px;
  left: 70px;
  z-index: 99;
  background-repeat: no-repeat;
  background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);
  border-radius: 30px;
}

.notification:after {
  content: '';
  position: absolute;
  top: 0;
  left: 69px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: #1d345c;
  border-top: 0;
  margin-top: -13px;
}

.title {
  font-style: normal;
  font-weight: normal;
  width: 232px;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: var(--white-color);
  margin: 0;
  margin-bottom: 20px;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  width: 232px;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  color: var(--white-color);
}

.notificationReport {
  display: flex;
  margin: 25px 0 0 0;
  padding: 30px 25px;
  flex-direction: column;
  position: absolute;
  max-width: 282px;
  max-height: 152px;
  top: 50px;
  left: 70px;
  z-index: 99;
  background-repeat: no-repeat;
  background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);
  border-radius: 30px;
}

.notificationReport:after {
  content: '';
  position: absolute;
  top: 0;
  left: 69px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: #1d345c;
  border-top: 0;
  margin-top: -13px;
}

@media screen and (max-width: 768px) {
  .notification {
    transform: translate(-49px, -42px);
  }

  .notificationReport {
    transform: translate(-41px, -59px);
  }
}

@media screen and (min-width: 768px) {
  .notification {
    transform: translate(-26px, -62px);
  }

  .notificationReport {
    transform: translate(237px, -58px);
  }
}

@media screen and (min-width: 1280px) {
  .notificationReport {
    transform: translate(315px, -60px);
  }

  .notification {
    transform: translate(-26px, -62px);
  }
}
