.container {
  position: relative;
  z-index: 10;
  top: 50px;
}

.notification {
  position: absolute;
  top: -40px;
  right: -5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 282px;
  height: 152px;
  padding: 30px 25px;
  margin: auto;

  background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);
  border-radius: 30px;
}

.title {
  width: 250px;
  text-align: left;
  font-size: 15px;
  line-height: 1.43;
  color: var(--white-color);
  margin-left: 25px;
  margin-bottom: 20px;
}

.text {
  width: 250px;
  text-align: left;
  font-size: 13px;
  line-height: 1.33;
  margin-left: 25px;

  color: var(--white-color);
}

.square {
  position: absolute;
  top: -44px;
  left: 120px;
  z-index: -1;

  transform: rotate(45deg);

  width: 30px;
  height: 30px;

  background-color: #142a58;
}
@media screen and (min-width: 768px) {
  .square {
    top: -37px;
    left: 144px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    top: 69px;
    left: 62px;
  }

  .notification {
    width: 292px;
    top: -33px;
    left: 93px;
  }
  .title,
  .text {
    margin-left: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .square {
    left: 465px;
    top: -40px;
  }
  .notification {
    top: -33px;
    left: 418px;
  }
}
