@media screen and (min-width: 768px) {
  .columnTitles {
    display: flex;

    font-size: 12px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;

    color: var(--black-color);
    background-color: var(--secondary-bcg-color);
    width: 605px;
    height: 38px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .transactionList {
    padding-left: 0px;
    margin: 0px;
    width: 605px;
    height: 490px;
    overflow-y: scroll;
  }

  
  .transactionList::-webkit-scrollbar-thumb {
    background-color: (--accent-color);
    /* height: 130px; */
    width: 20px;
}

  /* .transactionList::-webkit-scrollbar {
    height: 130px;
    width: 6px;
    color: var(--accent-color);
  } */

  .transactionData {
    text-decoration: none;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-align: left;
    padding-left: 0px;

    color: var(--primary-text-color);
    border: 2px solid var(--secondary-bcg-color);

    width: 601px;
    height: 40px;
  }

  .dataColumn {
    width: 84px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .descriptionColumn {
    width: 168px;
  }

  .categoryColumn {
    width: 124px;
  }

  .sumColumn {
    width: 104px;
  }

  .deleteleIcon {
    margin: 12px 22px 8px 41px;
  }

  /* .tableWrapper {
    width: 760px;
    height: 437px;
    display: block;
  } */
}

@media screen and (min-width: 1280px) {
  .transactionList {
    padding-left: 0px;
    margin: 0px;
    width: 760px;
    height: 500px;
    overflow-y: scroll;
  }

  /* .transactionList::-webkit-scrollbar {
    height: 500px;
    width: 6px;
    color: var(--accent-color);
  } */

  .tableWrapper {
    width: 760px;
    height: 437px;
    display: block;
    margin-right: 30px;
  }

  .tableWrapper::-webkit-scrollbar-thumb {
    background-color: (--accent-color);
    /* height: 130px; */
    width: 20px;
}

  .columnTitles,
  .transactionData {
    width: 760px;
  }

  .transactionData {
    color: var(--primary-text-color);
    border: 2px solid var(--secondary-bcg-color);
  }

  .descriptionColumn {
    width: 232px;
  }

  .categoryColumn {
    text-align: center;
    width: 116px;
    margin-right: 48px;
  }
  .sumColumn {
    width: 104px;
    text-align: right;
  }

  .deleteleIcon {
    margin: 10px 53px 10px 59px;
  }
}
