@media screen and (min-width: 320px) {
  .buttonContainer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;

    text-decoration: none;

    font-weight: 700;
    font-size: 12px;

    text-transform: uppercase;
    padding: 0;
    line-height: 1.2;

    justify-content: space-between;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

/* @media screen and (min-width: 768px) {
  .buttonContainer {
    justify-content: flex-start;
    position: static;
  }

  .wrapper {
    margin-top: 48px;
  }
} */

@media screen and (min-width: 768px) {
  .transactionSummaryContainer {
    display: block;
    background-color: var(--white-color);
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
    overflow: hidden;
    padding: 30px 30px 40px 30px;
  }
  .tableSummaryContainer {
    margin-top: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .transactionSummaryContainer {
    padding: 30px 20px 40px 20px;
    /* overflow: hidden; */
    display: block;
    height: 640px;
    /* background-color: var(--white-color);
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px; */
  }

  .tableSummaryContainer {
    display: flex;
    margin-top: 59px;
  }

  /* .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 59px;
  } */
}
