.list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .containerList {
    position: absolute;
    width: 276px;
    z-index: 1000;
    background-color: #fff;
    border: 2px solid #f5f6fb;
    box-shadow: 0px 3px 4px rgba(170, 178, 197, 0.4);
  }
  
  .item {
    height: 33px;
    height: 100%;
  
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  
    color: var(--secondary-grey-color);
    padding: 9.5px 20px;
    cursor: pointer;
  }
  
  .item:hover {
    background-color: var(--secondary-bcg-color);
    color: var(--primary-text-colorn);
  }
  
  @media screen and (min-width: 768px) {
    .containerList {
      width: 167px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .containerList {
      width: 184px;
    }
  }
  