.wrapper {
  position: relative;
  width: 248px;
  height: 44px;
  margin: 0px 37px;
}

.balanceTitle {
  font-family: Roboto;
  font-style: 400;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: var(--primary-text-transparency);
}

.inputAndBtn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 44px;
}

.inputBalance {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 121px;
  height: 40px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--black-color);
  border: 2px solid var(--white-color);
  cursor: pointer;
}
.inputBalance::placeholder {
  color: var(--black-color);
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 125px;
  height: 44px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--primary-text-transparency);
  border: 2px solid var(--white-color);
  cursor: pointer;
}
.submitBtn:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.span {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.inputBalanceReport {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 40px;
  width: 121px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--black-color);
  border: 2px solid var(--white-color);
  cursor: pointer;
  border-radius: 16px;
  margin-top: 6px;
}

.submitBtnReport {
  display: none;
}
.inputAndBtnReport {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .span {
    top: 15.5px;
    right: 130px;
  }
  .balanceTitle {
    margin-bottom: 6px;
  }
  .wrapperReport {
    text-align: center;
  }

  .spanReport {
    position: absolute;
    top: 18px;
    right: 0px;
    left: 130px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  .inputBalanceReport {
    width: 179px;
    margin-top: 6px;
  }

  .balanceTitle {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
  }

  .submitBtn {
    border-radius: 0px 16px 16px 0px;
  }

  .inputBalance {
    border-radius: 16px 0px 0px 16px;
  }
}

@media screen and (min-width: 768px) {
  .span {
    bottom: 0;
    right: 70px;
    top: 16px;
    left: 0;
  }
  .spanReport {
    position: absolute;
    top: 18px;
    right: 10px;
    left: 90px;
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .inputBalance {
    border-radius: 16px;
  }

  .inputBalanceReport {
    width: 121px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: 369px;
    margin: 0;
  }

  .wrapperReport {
    display: flex;
    align-items: center;
    width: 369px;
    margin-left: 75px;
    justify-content: flex-end;
    margin-top: -66px;
  }

  .balanceTitle {
    display: flex;
    margin-right: 21px;
  }

  .submitBtn {
    justify-content: center;
    margin-left: 15px;
    border-radius: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 340px;
    margin-right: 190px;
  }
  .span {
    top: 16px;
  }
  .submitBtnReport {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 125px;
    height: 44px;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--primary-text-transparency);
    border: 2px solid var(--white-color);
    cursor: pointer;
    border-radius: 16px;
    margin-left: 15px;
    text-align: center;
  }
  .spanReport {
    position: absolute;
    top: 18px;
    right: 60px;
    left: 0;
  }
  .wrapperReport {
    margin-left: 330px;
  }

  .inputBalanceReport {
    margin: 0;
  }
}

/* .error {
} */
