.wrapper {
  position: relative;
  width: 248px;
  height: 44px;
  margin: 0px 37px;
}

.balanceTitle {
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: var(--primary-text-transparency);
}

.inputAndBtn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 44px;
}

.inputBalance {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 79px;
  padding-right: 33px;
  padding-left: 9px;
  height: 38px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--black-color);
  border: 2px solid var(--white-color);
  cursor: pointer;
}
.inputBalance::placeholder {
  color: var(--black-color);
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 125px;
  height: 44px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--primary-text-transparency);
  border: 2px solid var(--white-color);
  cursor: pointer;
}
.submitBtn:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.inputBalanceReport {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 79px;
  padding-right: 33px;
  padding-left: 9px;
  height: 40px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--black-color);
  border: 2px solid var(--white-color);
  cursor: pointer;
  border-radius: 16px;
  margin-top: 6px;
}
.inputBalanceReport::placeholder {
  color: var(--black-color);
}
.submitBtnReport {
  width: 1px;
  display: none;
}
.inputAndBtnReport {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .span {
    transform: translate(-30px, 1px);
  }

  .balanceTitle {
    margin-bottom: 6px;
  }
  .wrapperReport {
    text-align: center;
  }

  .spanReport {
    transform: translate(-37px, 4px);
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  .inputBalanceReport {
    width: 137px;
    margin-top: 6px;
  }

  .balanceTitle {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
  }

  .submitBtn {
    border-radius: 0px 16px 16px 0px;
  }

  .inputBalance {
    border-radius: 16px 0px 0px 16px;
  }
}

@media screen and (min-width: 768px) {
  .span {
    transform: translate(-30px, 1px);
  }
  .spanReport {
    transform: translate(-35px, 4px);
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .inputBalance {
    border-radius: 16px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: 369px;
    margin: 0;
  }

  .wrapperReport {
    display: flex;
    align-items: center;
    width: 369px;
    margin-left: 110px;
    justify-content: flex-end;
    margin-top: -70.5px;
  }

  .balanceTitle {
    display: flex;
    margin-right: 21px;
  }

  .submitBtn {
    justify-content: center;
    /* margin-left: 15px; */
    border-radius: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-right: 190px;
  }
  .span {
    transform: translate(-30px, 0px);
  }
  .submitBtnReport {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 125px;
    height: 44px;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--primary-text-transparency);
    border: 2px solid var(--white-color);
    cursor: pointer;
    border-radius: 16px;
    margin-left: 15px;
    text-align: center;
  }
  .spanReport {
    transform: translate(-35px, 0px);
  }
  .wrapperReport {
    margin-left: 330px;
  }

  .inputBalanceReport {
    margin: 0;
  }
}

.error {
  position: absolute;
  bottom: 50px;
  right: -87px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  /* text-align: left; */
  letter-spacing: 0.02em;
  border: 1px solid red;
  padding: 1px;
  border-radius: 30px;
  color: #eb5757;
}
