@media screen and (max-width: 767px) {
  /* .section {
   
  } */
}

@media screen and (min-width: 768px) {
  .section {
    margin: auto;
    width: 668px;
    height: 422px;
    margin-top: 30px;
    margin-bottom: 75px;
    box-shadow: var(--box-shadow);
    border-radius: 30px;
    background-color: var(--white-color);
    height: 350px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    width: 1060px;
    height: 422px;
  }

  /* .chart {
    margin-top: 50px;
    margin-right: 151px;
    margin-left: 151px;
    margin-bottom: 5px;
  } */
}
