@media screen and (max-width: 767px) {
  .wrapper {
    padding: 34px 0px 51px 0px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .section {
    height: 422px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 65px 50px 19px 50px;
    margin-top: 32px;
    margin-bottom: 75px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 30px;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
  }
  .section {
    margin: auto;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 65px 150px 19px 150px;
  }
  .section {
    height: 500px;
  }
}
