@media screen and (max-width: 767px) {
  .wrapper {
    padding: 34px 0px 51px 0px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .section {
    height: 422px;
  }

  .paragraph {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 65px 50px 19px 50px;
    margin-top: 32px;
    margin-bottom: 75px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 30px;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
  }

  .section {
    margin: auto;
  }

  .paragraph {
    margin-top: 60px;
    text-align: center;
    font-size: 24px;
    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 65px 150px 19px 150px;
  }

  .section {
    height: 500px;
  }

  .paragraph {
    margin-top: 70px;
    text-align: center;
    font-size: 24px;
    color: var(--primary-text-color);
  }
}
