@media screen and (min-width: 320px) {
  .container {
    background-color: var(--white-color);
    box-shadow: 5px 10px 20px 0px #aab2c566;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 525px;
    display: block;
    border: none;
    border-radius: 30px;
  }

  .auth {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    vertical-align: top;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
    padding-top: 40px;
    width: 222px;
    height: 24px;
    margin: auto;
  }

  .googleAuthButton {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
    vertical-align: center;
    letter-spacing: 0.02em;
    display: flex;
    width: 122px;
    height: 40px;
    border-radius: 26px;
    margin: auto;
    margin-top: 24px;
    padding: 0px;
    text-decoration: none;
    background-color: #f6f7fb;
    border: none;
    cursor: pointer;

    box-shadow: 5px 5px 10px #c9c9c9, inset -5px -5px 8px -4px #c9c9c9,
      -5px -5px 10px #fdfdfd, inset 5px 5px 8px -4px #fdfdfd;
  }

  .googleAuthButton:active {
    box-shadow: 5px 5px 10px #c9c9c9, inset -5px -5px 8px -4px #c9c9c9,
      inset -6px -6px 8px 0 #fdfdfd, -5px -5px 10px #fdfdfd,
      inset 5px 5px 8px -4px #fdfdfd, inset 6px 6px 8px 0 #c9c9c9;
  }

  .googleIcon {
    padding: 11px 10px 11px 22px;
  }

  .googleText {
    color: var(--black-color);
    display: block;
    padding: 10px 10px 10px 0px;
  }

  .formRow {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 29px;
    margin-right: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .formRowTitle {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-align: left;
    letter-spacing: 0.04em;
    margin-bottom: 12px;
  }

  .asterisk {
    color: #eb5757;
  }

  .email,
  .password {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0.04em;
    padding: auto;
    color: var(--grey-color);
    background-color: #f6f7fb;
    width: 213px;
    height: 52px;
    border: 0;
    border-radius: 30px;
  }

  .email,
  .password::placeholder {
    color: var(--grey-color);
  }

  .email,
  .password {
    padding-left: 20px;
    padding-right: 20px;
  }

  .authButtons {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 53px;
    display: flex;
    justify-content: space-evenly;
  }

  .btn {
    width: 125px;
    height: 44px;
    border: none;
    border-radius: 16px;
    padding: 0px;
    margin: 0px;
    margin-right: 15px;
    cursor: pointer;
    color: var(--primary-text-color);
    background-color: var(--secondary-bcg-color);
    transition: background-color var(--time) var(--timing),
      color var(--time) var(--timing);
  }

  .btn:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
  }

  .formRow {
    position: relative;
  }

  .formRow {
    position: relative;
  }

  .error {
    position: absolute;
    top: 85px;
    left: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #eb5757;
  }
}

@media (min-width: 480px) {
  .container {
    width: 436px;
    height: 535px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 60px 0px #aab2c533;
  }

  .auth {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.04em;
    padding-top: 40px;
    width: 265px;
    height: 28px;
  }

  .googleAuthButton {
    margin-top: 20px;
  }

  .formRow {
    margin: 20px 85px 30px 86px;
  }

  .formRowTitle {
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .email,
  .password {
    width: 225px;
  }

  .authButtons {
    margin-left: 86px;
    margin-right: 85px;
    justify-content: space-between;
  }
}
