.allContainer {
  margin-left: auto;
  margin-right: auto;
  width: 282px;
}

.formContainer {
  display: none;
}

.calendar {
  width: 20px;
  height: 20px;
  fill: var(--primary-text-color);
}

.inputeDate {
  font-family: Roboto;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  color: var(--primary-text-color);

  border: none;
  cursor: pointer;
}

.inputWrapper {
  font-family: 'Roboto';
}

.input {
  padding: 13px 18px;
  width: 242px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  outline: none;
  border-radius: 16px 16px 0 0;
  border: 2px solid var(--secondary-bcg-color);
  cursor: pointer;
}

.input::placeholder {
  color: var(--secondary-grey-color);
}

.category {
  position: relative;
  font-family: 'Roboto';
}

.icon {
  position: absolute;
  top: 30%;
  right: 10%;
}

.inputCategoty {
  padding: 13px 18px;
  width: 242px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  outline: none;
  border: 2px solid var(--secondary-bcg-color);
  border-radius: 0 0 16px 0;
  cursor: pointer;
}

.inputCategoty::placeholder {
  color: var(--secondary-grey-color);
}

.options {
  width: 282px;
  color: var(--primary-text-color);
  cursor: pointer;
}

.options:hover {
  background-color: var(--secondary-bcg-color);
  color: var(--primary-text-colorn);
}

.valueContainer {
  position: relative;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 183px;
}

.inputValue {
  padding: 13px 40px 13px 21px;
  width: 118px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  outline: none;
  border: 2px solid var(--secondary-bcg-color);
  border-radius: 16px 16px 16px 16px;
  text-align: center;
}

.inputValue::placeholder {
  color: var(--secondary-grey-color);
}

.inputValue::after {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 400px;
  height: 100px;
  background-color: tomato;
}

.calculator {
  position: absolute;
  top: 25%;
  left: 80%;
  width: 20px;
  height: 20px;
  fill: var(--primary-text-color);
}

.btnContainer {
  margin-top: 83px;
  margin-right: auto;
  margin-left: auto;
  width: 265px;
}

.formBtn {
  margin-right: auto;
  margin-left: auto;
  padding: 12px 0;
  width: 125px;
  height: 44px;
  border-radius: 16px;
  border: 2px solid var(--secondary-bcg-color);
  background-color: var(--white-color);
  box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
  cursor: pointer;

  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.formBtn:first-child {
  margin-right: 15px;
}

.formBtn:hover,
.formBtn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.arrowDown {
  height: 10px;
  width: 10px;
  stroke: var(--secondary-grey-color);
  transform: rotate(90deg);
}

.arrowUp {
  height: 10px;
  width: 10px;

  stroke: var(--secondary-grey-color);
  transform: rotate(-90deg);
}

.errors {
  font-weight: 400;
  font-size: 10px;
  line-height: 0.85;
  letter-spacing: 0.04em;
  margin-top: 5px;
  color: tomato;

  position: absolute;
}

@media screen and (min-width: 768px) {
  .allContainer {
    margin-left: 0;
    margin-right: 0;
  }

  .inputContainer {
    display: flex;
  }

  .formContainer {
    display: flex;
    align-items: center;
  }

  .inputeDate {
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: 10px;
    margin-right: 33px;
    width: 74px;
  }

  .input {
    padding: 13px 20px;
    width: 148px;
    font-weight: 400;
    border-radius: 16px 0 0 0;
  }

  .inputCategoty {
    padding: 13px 20px;
    width: 129px;
    border-radius: 0 0 0 0;
    border-left: none;
    font-weight: 400;
  }

  .valueContainer {
    margin-top: 0;
  }

  .inputValue {
    padding: 13px 34px 13px 20px;
    width: 48px;
    border-radius: 0 16px 16px 0;
    border-left: none;
  }

  .calculator {
    top: 26%;
    left: 70%;
  }

  .btnContainer {
    margin-top: 30px;
    margin-left: 200px;
  }

  .formBtn {
    box-shadow: none;
  }
}

@media screen and (min-width: 1280px) {
  .allContainer {
    margin-left: 0;
    margin-right: 0;
    width: 601px;
  }

  .form {
    display: flex;
    align-items: center;
  }

  .inputeDate {
    margin-right: 23px;
    width: 70px;
  }

  .input {
    padding: 13px 21px;
    width: 243px;
    font-weight: 400;
  }

  .inputCategoty {
    width: 146px;
    border-radius: 0 0 0 0;
    border-left: none;
  }

  .valueContainer {
    width: 124px;
  }

  .inputValue {
    width: 68px;
  }

  .calculator {
    top: 26%;
    left: 70%;
  }

  .btnContainer {
    display: flex;
    margin: 0;
    margin-left: 27px;
  }
}
