.balanceWrapper {
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.balanceWrapperReport {
  margin-top: 30px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .balanceWrapper {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 82px;
    padding-right: 52px;
    margin-bottom: 58px;
  }
}
@media screen and (min-width: 1280px) {
  .balanceWrapper {
    justify-content: normal;
  }
}
