@media screen and (min-width: 320px) and (max-width: 767px) {
  .transactionList {
    width: 282px;
    height: 440px;
    margin: 20px 0px 0px 20px;
    padding: 0px;
    border: 2px;

    overflow-y: scroll;
  }

  /* .width: 5px;
  }transactionList::-webkit-scrollbar {
     */

  .row {
    list-style: none;
    border-color: var(--primary-text-color);
    display: flex;
    width: 282px;
    height: 30px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px;
    border-color: var(--primary-text-color);
  }

  .descriptionDateCategory {
    display: block;
  }

  .dateCategory {
    display: flex;
    margin-top: 3px;
    width: 146px;
  }

  .description {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-align: left;
    vartical-align: center;
    color: var(--primary-text-color);
    width: 148px;
    height: 20px;

    margin: 0px 10px 0px 0px;
  }

  .date {
    font-size: 8px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.04em;
    text-align: left;
    margin: 0px;
    margin-right: 20px;
    color: var(--primary-text-color);
    /* height: 7px;
    width: 44px; */
  }

  .category {
    font-size: 8px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.04em;
    text-align: left;
    margin: 0px;

    color: var(--primary-text-color);
    /* height: 7px;
    width: 82px; */
  }

  .sum {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-align: right;

    color: var(--table-red-color);
    height: 20px;
    width: 84px;
  }

  .green {
    color: var(--green-color);
  }

  .deleteleIcon {
    margin-top: 10px;
    margin-right: 19px;
    margin-bottom: 16px;
    margin-left: 20px;
  }
}

/* @media screen and (min-width: 480px) {
  .transactionList {
    display: none;
  }
} */
