@media screen and (max-width: 767px) {
  .box {
    position: relative;
    margin: 0 auto 0;
    width: 282px;
  }

  .list {
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list::after {
    position: absolute;
    right: 13px;
    bottom: 0;
    display: block;
    width: 90%;
    content: '';
    border-bottom: 1px solid var(--border-color);
  }

  .listItem {
    position: relative;
    display: flex;
    width: 84px;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .listItem:nth-child(3n)::after {
    position: absolute;
    right: 6px;
    bottom: 0;
    display: block;
    width: 300%;
    content: '';
    border-bottom: 1px solid var(--border-color);
  }

  .category {
    margin: 0;
    margin: auto;
    height: 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
  }

  .title {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
  }

  .arrowDate {
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .iconBox {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .iconBox:hover,
  .iconBox:focus {
    fill: var(--accent-color);
    transition: var(--time);
  }

  .iconDate {
    stroke: var(--accent-color);
  }

  .slider {
    justify-content: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .date {
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .section {
    margin: auto;
    width: 666px;
    margin-top: -40px;
    padding-top: 40px;
    box-shadow: var(--box-shadow);
    border-radius: 30px;
    background-color: var(--white-color);
  }

  .box {
    display: flex;
    justify-content: center;
  }

  .list {
    list-style: none;
    padding-left: 0;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .listItem {
    width: 84px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .category {
    margin: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
  }

  .active {
    fill: var(--accent-color);
  }

  .title {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
  }

  .arrowDate {
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .iconBox {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .iconBox:hover,
  .iconBox:focus {
    fill: var(--accent-color);
    transition: var(--time);
  }

  .iconDate {
    stroke: var(--accent-color);
  }

  .slider {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .date {
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    width: 1060px;
  }

  .box {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
